.DS_STORE
/rabbitmq/**
!/rabbitmq/**/
!/rabbitmq/**/.gitkeep

TraWell-rides/
TraWell-history/
TraWell-reviews/
TraWell-users/
TraWell-notifications/
TraWell-Notifications-Microservice/

.idea/
TraWell-tests/.idea/


./__pycache__/
__pycache__/
