
/rabbitmq/**
!/rabbitmq/**/
!/rabbitmq/**/.gitkeep

TraWell-rides/
TraWell-reviews/
TraWell-users/
TraWell-notifications/
TraWell-Notifications-Microservice/

.idea/
TraWell-tests/.idea/

